* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid rgb(0, 0, 0);
}

header {
    min-height: 25vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: start;
    width: 100%;
}

.logo {
    display: inline-block;
    vertical-align: start;
    /* margin-top: 30px; */
}

.Divlogo {
    /* background-color: aquamarine; */
    height: 40%;
    width: 15%;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.claseDeBackGround {
    background-image: url(../Assets/imagenFondo.jpg);
    position: absolute;
    background-position: center;
    width: 100%;
    height: 25vh;
    z-index: -1;
    opacity: 0.3;
    background-size: cover;
}

h1 {
    /* text-align: center; */
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding-left: 250px;
    /* margin-left: 300px; */
}

nav {
    display: flex;
    flex-wrap: wrap;
    /* right: 10px; */
    /* top: 20px; */
    margin-top: -60px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin: 5px;
    background-color: rgba(233, 125, 125, 0.993);
    padding: 4px;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px #00796b;
}

nav a:hover {
    background-color: rgba(172, 125, 233, 0.993);
    transform: scale(1.2);
}

a[href="#"] {
    background-color: rgb(135, 180, 92);
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    min-height: 10vh;
    height: auto;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 65vh;
    height: auto;
}

h2 {
    width: 100%;
    text-align: center;
    background-color: rgb(131, 124, 124);
    border-style: double;
    color: white;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
}

section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(214, 164, 164); */
}

form {
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
    width: 85%;
    background-color: #00796bd7;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* justify-content: center; */
    align-items: center;
    /* padding: 30px; */
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

fieldset {
    /* background-color: rgba(206, 237, 169, 0.591); */
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
}




.clasePrimerDivPrimerNombreYsegundo{
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* gap: 10px; */
}

.contenidoPrimerDiv{
    display: inline-block;
    width: 43%;
}

.adressQueOcupaEl100 {
    width: 100%;
    padding-left: 30px;
}

#name,
input[name="grade"] {
    margin-right: 80px;
}

label[for="grade"] {
    margin-right: 20px
}

.div1Equipos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
}

.div2Equipos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
}

.claseCityYzipcode {
    display: flex;
    justify-content: space-between;
}

.claseCityYzipcode label {
    margin-right: 150px;
}

.birthDateYgenero {
    display: flex;
    justify-content: space-between;
}

.gripoDeTalles1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%
}

.gripoDeTalles2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%
}

.ContenedorTalles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.clasePrimerDivPrimerNombreYsegundo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.clasePrimerDivPrimerNombreYsegundo label {
    margin-right: 140px
}

.birthDateYgenero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.maleYfemaleJuntos {
    display: flex;
    gap: 40px;
}

.maleYfemaleJuntos label:nth-child(2) {
    margin-right: 200px;
}

.claseDeGradosEscolares {
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrimerDiv input{
    width: 100%;
}

/* Media Queries */
@media (max-width: 1024px) {
    h1 {
        padding-left: 0;
        text-align: center;
    }

    nav {
        /* flex-direction: column; */
        align-items: center;
        margin-top: 10px;
    }

    nav a {
        margin: 10px 0;
    }

    .claseDeBackGround {
        height: 20vh;
    }

    .Divlogo {
        width: 25%;
    }

    /* .claseCityYzipcode,
    .birthDateYgenero,
    .ContenedorTalles {
        flex-direction: column;
        align-items: flex-start;
    } */

    .clasePrimerDivPrimerNombreYsegundo label,
    .claseCityYzipcode label,
    .maleYfemaleJuntos label:nth-child(2),
    .div1Equipos,
    .div2Equipos,
    .gripoDeTalles1,
    .gripoDeTalles2 {
        margin-right: 0;
        width: 100%;
    }

    .clasePrimerDivPrimerNombreYsegundo,
    .claseCityYzipcode,
    .birthDateYgenero,
    .ContenedorTalles {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }

    .claseDeBackGround {
        height: 100%
    }

    .Divlogo {
        width: 30%;
    }

    form {
        width: 100%;
    }

    fieldset {
        width: 100%;
    }

    .div1Equipos,
    .div2Equipos,
    .gripoDeTalles1,
    .gripoDeTalles2 {
        width: 100%;
    }
}


@media (max-width: 425px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        padding-left: 0;
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav a {
        margin: 10px 0;
    }

    .claseDeBackGround {
        height: 15vh;
    }

    .Divlogo {
        width: 40%;
    }

    form {
        width: 100%;
    }

    fieldset {
        width: 100%;
    }

    .div1Equipos,
    .div2Equipos,
    .gripoDeTalles1,
    .gripoDeTalles2 {
        width: 100%;
    }
}
